.FormTodo {
  background-color: rgb(8, 37, 66);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(161, 204, 233);
}

.modernInput {
  width: 100%;
  display: block;
  border: none;
  background-color: rgb(8, 37, 66);
  color: rgb(248, 215, 243);
  font-family: 16px;
}

.modernInput:focus {
  outline: none;
}

.buttonForm {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(13, 3, 51);
  padding: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 0 4px 6px rgb(161, 204, 233);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0 8px 10px rgb(161, 204, 233);
  width: 40px;
  cursor: pointer;
}
.container {
  display: flex;
}
